body {
    background-color: #eff0b0;
}

h1 {
    text-align: center;
    font-size: 100px;
    border: 35px dotted #f4be90;
    padding: 30px;
    margin: 40px;
    color: rgb(78,59,60);
}

div{
    color: rgb(78,59,60);
}

.summary{
    font-size: 20px;
    text-align: center;
    padding: 10px 50px;
    margin: 20px;
}

.request{
    padding: 30px 20px 15px;
}